<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>

    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ "/assets/img/favicon.ico" }}" sizes="16x16">


    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <!-- Font Icon Css -->
    <link rel="stylesheet" href="{{ "/assets/fonts/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/fonts/intimate-fonts.css" | prepend: site.baseurl }}">
    <!-- Main Css Styles -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{{ "/assets/extras/owl/owl.carousel.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/extras/owl/owl.theme.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/extras/animate.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/extras/lightbox.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/extras/slicknav.css" | prepend: site.baseurl }}">
    <!-- Responsive Css Styles -->
    <link rel="stylesheet" href="{{ "/assets/css/responsive.css" | prepend: site.baseurl }}">
</head>
