<script src="{{ "/assets/js/jquery-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/owl.carousel.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/jquery.mixitup.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/lightbox.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/plugin.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/jquery.slicknav.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/count-to.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js//main.js" | prepend: site.baseurl }}" type="text/javascript"></script>
