<div class="entry-widget">
    <div class="widget-profile">
        <div class="image"><img alt="" src="{{"/assets/img/" | prepend: site.baseurl | append : "blog/cover.jpg" }}"></div>
        <div class="portfolio"><img alt="" src="{{"/assets/img/" | prepend: site.baseurl | append : "blog/portfolio.jpg" }}"></div>
        <div class="info">
            <h3 class="name">Valeska Cabrera Cuadros</h3>
            <p class="details">
                Soy doctora en Educación, Máster en Investigación en Didáctica, Formación y Evaluación Educativa y profesora en Historia y Geografía. Siempre me ha fascinado la lectura y la escritura. En la actualidad me dedico a la docencia, a la investigación, a escribir y a crear contenidos sobre Educación.
            </p>
            <div class="social-links">
                <a class="twitter social-link"
                   data-placement="top" data-toggle=
                           "tooltip" href="https://twitter.com/va_lis" title=
                           "Twitter"><i class=
                                                "fa fa-twitter"></i></a> <a class=
                                                                                    "facebook social-link"
                                                                            data-placement=
                                                                                    "top" data-toggle="tooltip" href="https://m.facebook.com/valeskalcabrera/"
                                                                            title="Facebook"><i class="fa fa-facebook"></i></a>
                <a class=
                           "google-plus social-link"
                   data-placement="top" data-toggle=
                           "tooltip" href="https://plus.google.com/u/0/+ValeskaCabreraCuadros" title=
                           "Google+"><i class=
                                                "fa fa-google-plus"></i></a> <a class=  "linkedin social-link"  data-placement=  "top" data-toggle="tooltip"  href="https://es.linkedin.com/in/valeskacabrera"  title="LinkedIn"><i class=    "fa fa-linkedin"></i></a>

            </div>
        </div>
    </div>
</div>
