---
layout: main
---

<!-- Hero Area Start -->
<section class="text-center" id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="intro-area">
                    <h2 class="page-title">{{ page.title }}</h2>
                    <div class="entry-meta">
                            <span class="meta-part"><i class="ico-user"></i>
                            <a href="#">{{ site.author }}</a></span>
                        <span class="meta-part"><i class="ico-calendar-alt-fill"></i>
                            <a href="#">{{page.date | date: '%Y, %b %d'}}</a></span>
                        <span class="meta-part"><i class="ico-tag"></i> <a href="#">{{ page.categories }}</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- Hero Area End -->
<!-- Content Start -->
<div class="single-post" id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Blog Article Start-->
                <article class="single-post-content">
                    <!-- Blog item Start -->
                    <div class="blog-item-wrap">
                        <a href="#"><img alt="" src="{{"/assets/img/" | prepend: site.baseurl | append : page.img }}"></a>
                    </div><!-- Blog item End --><br>

                    {{ content }}

                    <div class="links">

                        <a class="twitter" href="http://twitter.com/share?text={{ page.title }}&url={{page.url | prepend: site.url}}"><i class="ico-twitter-with-circle"></i> Tweet</a> <a
                            class=
                                    "facebook" href="https://www.facebook.com/sharer/sharer.php?u={{page.url | prepend: site.url}}"><i class=
                                                                                                                                            "ico-facebook-with-circle"></i> Share</a> <a class=
                                                                                                                                                                                                 "google-plus"
                                                                                                                                                                                         href="https://plus.google.com/share?url={{page.url | prepend: site.url}}"><i
                            class=
                                    " ico-google-with-circle"></i> Google+</a>
                        <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{page.url | prepend: site.url}}&title={{ page.title }}&summary={{ page.description }}"><i class=
                                                                                                                                                                                                    "ico-linkedin-with-circle"></i> Linkedin</a>
                    </div>
                </article><!-- Blog Article End-->
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    {% include profile.html %}
                </div>
            </div>
        </div>
    </div>
</div><!-- Content End -->
